# Decision Control
Decision Control Statements helps us to decide on different rules based on conditions. This provides the ability to alter the sequence of program based on condition.

**If Statement**

```
pre statement

if condition:
  do action

post statement
```

**If Else Statement**


```
pre statement

if condition:
  do action a
else:
  do other action

post statement
```

**If Else if Statement**


```
pre statement

if condition:
  do action a
elif condition:
  do action b
elif condition b:
  do action c
else:
  do other action

```

Very clear. Right? Let's see the example

In [ ]:
# If Statement
weather = 11
if weather < 20:
  print('Winter should have started. Am I right?')

Winter should have started. Am I right?

In [ ]:
#If Else Statement
weather = 21
if weather < 20:
  print('Winter should have started. Am I right?')
else:
  print('Still Sunny? Enjoy!!!')

Still Sunny? Enjoy!!!

In [ ]:
# If Else If Statement
weather = 20
rain = True
if weather < 20 and rain == True:
  print('Winter is about to start')
elif weather < 20 and rain == False:
  print('Hey, its already winter')
elif weather >= 20 and rain == False:
  print('It must be rainy')
else:
  print('Hmmmm... must be summer than')

Hmmmm... must be summer than

**Exercise**: 
1. Do you think we can use parenthesis to enclose conditionals? Check in Python.
2. Write a program to check the grade of student.
3. Write a python program to check age of person falls in any of the cateogry as 'Child', 'Teenage', 'Adult', 'Old'.

***Important: Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose. ***

In [ ]:
#Try this once
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

Short Hand If

Python facilitates with short form of If Else Statement. Run the example below:

In [ ]:
# Short If Statement
a = 33
b = 200
if a < b: print("a is greater than b")

a is greater than b

In [ ]:
#Short Hand If ... Else
a = 2
b = 330
print("a") if a > b else print("b")

b

Let's see if nested if works. Try to interpret the below code.

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

**Exercise**
1. Write a program using Shorthand if statement to check if number is positive or negative. 
2. Handle 0 case in above program.
3. Write a program using shorthand if statement to check if number is odd or even.

Python also supports for nested if else statement. See the example below:

In [ ]:
'''In this program, we input a number check if the number is positive or
    negative or zero and display an appropriate message. This time we use nested if.
    '''
num = float(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter a number: -5
Negative number

# Loop Control

A kind of flow control in python. Different flow controls for loop available in python are as below:

1. **While Loop**: With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i <= 10:
  print('Loop runs for', i, 'as a value of i')
  i += 1

Loop runs for 1 as a value of i
Loop runs for 2 as a value of i
Loop runs for 3 as a value of i
Loop runs for 4 as a value of i
Loop runs for 5 as a value of i
Loop runs for 6 as a value of i
Loop runs for 7 as a value of i
Loop runs for 8 as a value of i
Loop runs for 9 as a value of i
Loop runs for 10 as a value of i

2. **For Loop**: The for loop in Python is used to iterate over a sequence like list, tuple, strings, dictionaries or other iterable objects. Iterating over a sequence is called traversal.

Run the following example:

In [ ]:
# Example of For Loop over fruit list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

For loop can be executed over strings as well.

In [ ]:
for x in "A brown fox quickly jumps over the lazy dog":
  print(x)

A

b
r
o
w
n

f
o
x

q
u
i
c
k
l
y

j
u
m
p
s

o
v
e
r

t
h
e

l
a
z
y

d
o
g

Isn't it awesome. Let's see further more scenarios.

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

Awesome!!! But how does it works. Let's see the output of range first.

In [ ]:
range_to_5 = range(5)
print(range_to_5)
print(type(range_to_5))

range(0, 5)
<class 'range'>

Remember the range data type we discussed earlier. Range itself is data type. But looks like range starts from 0 alwaysand produces list of number upto given value. Let's try once again with range but we will convert range to list this time.

In [ ]:
list(range(1,5))

[1, 2, 3, 4]

Hmmmmmm.... gotta. So the starting value is inclusive but ending value is exclusive in range. I think this is very important. Need to remember this forever.

But how to use increment in loop if we are using range?

In [ ]:
for x in range(1, 10, 2):
  print(x)

1
3
5
7
9

Let's print a pyramid.

In [ ]:
for i in range(0, 10): 
        for j in range(i,10):
            print("* ",end="") 
        print("\r")

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Nice!!! Increment is also available with range function. 

We can also combine with the len() function to iterate though a sequence using indexing. Here is an example.

In [ ]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
	print("I like", genre[i])

I like pop
I like rock
I like jazz

# Else with Loop

If you are experienced with other programming language, you might get surprised here that you can use Else statement with loops. See the below examples for While loop and Foor Loop

In [ ]:
# Else with While Loop

counter = 10

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

print('\nFinally, Control Outside of Loop.')

Inside else

Finally, Control Outside of Loop.

In [ ]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

print('\nControl outside of for loop')

0
1
5
No items left.

Control outside of for loop

# Continue Statement

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [ ]:
# Continue with for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry": # Because I don't like cherry
    continue
  print('I like', x)

I like apple
I like banana

**Exercise**: Write a program using Continue statement in While loop.

# Break Statement
The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If break statement is inside a nested loop (loop inside another loop), break will terminate the innermost loop.

In [ ]:
#Break kStatement

i = 1
while i < 10:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**Exercise**: Write a program using Break statement in For Loop.

# Pass Statement

Pass in python is for do no action. It's a null statement in python. You can use pass with any flow control.

In [ ]:
# Pass with loop
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

In [ ]:
# Pass with if statement in loop
sequence = {'p', 'a', 's', 's'}
print(type(sequence))
for val in sequence:
    if val == 'a':
      pass
    else:
      print(val)

<class 'set'>
p
s

**Exercise**
1. Write a program to multiply 2 x 2 matrix.

In [ ]:
#@title Write a program to print following:
country='NEPAL'
for i in range(len(country)):
  for j in range(0,i+1):
    print(country[j],end="")
  # ending line after each row 
  print("\r")

N
NE
NEP
NEPA
NEPAL

#Python Input/Output (I/O)

Before we jump into python functions, let's understand about input output used in python. We have been using print function since our first day of learning python. Let's discet python i/o before we advance further. 

Run the code below:

In [ ]:
print("90" * 5)

9090909090

In [ ]:
print(5 * 6)

30

In [ ]:
print(5,6)

5 6

In [ ]:
a, b = 60, 90
print(a,b)

60 90

In [ ]:
#One more time
a,b,c = 1.0, "Two", 3

print(a,b,c)

1.0 Two 3

In [ ]:
#Using separater with the list in print
print(1,2,3,4,5,6,7,8,9,0, sep = ",")

1,2,3,4,5,6,7,8,9,0

In [ ]:
#EOL in print
print(1,2,3,4,5,6,7,8,9,0, sep=', ',end="&")

1, 2, 3, 4, 5, 6, 7, 8, 9, 0&

In [ ]:
#let's try this as well. Manipulating the string
for char in "python":
  print(char, end=":")

p:y:t:h:o:n:

In [ ]:
#Concating Number and strings
a = b = 10

print("Value of a and b is", a)

Value of a and b is 10

In [ ]:
#Concating Number and string differently
a,b=4,9

print("Value of a is",a,"and value of b is",b)

Value of a is 4 and value of b is 9

In [ ]:
#Let's try something different for same manipulation as above. 
#Here we use String formatting method str.format().
a,b = 4,9

print("Value of a is {} and value of b is {}".format(a,b))

Value of a is 4 and value of b is 9

In [ ]:
#We can also use arguments for formatting as below
print('Hello {name}, {greeting}!!!'.format(greeting = 'Good morning', name = 'Nirmal'))

Hello Nirmal, Good morning!!!

In [ ]:
#Formatting Numerical value like printf function in C Programming
a=100
b=3
div = a/b
prod = a * b
print('The value of div is', div)
print('The value of div is %0.2f and the value of prod is %d' %(div, prod))

The value of div is 33.333333333333336
The value of div is 33.33 and the value of prod is 300

Let's try some input functionalities now:

In [ ]:
input("Enter a number:")

Enter a number:10

'10'

In [ ]:
name = input("What's your name? ")
print("Nice to meet you " + name + "!")
age = input("Your age? ")
print("So, you are already " + str(age) + " years old, " + name + "!")

What's your name? Rajan Adhikari
Nice to meet you Rajan Adhikari!
Your age? 29
So, you are already 29 years old, Rajan Adhikari!

**Exercise**
- Can you take integer and float user input? Write a program to show this.