Python has a built-in string class named "str" with many handy features. 

- String literals can be enclosed by either double or single quotes, although single quotes are more commonly used.

```
greet1 = 'Hello World!!!'
greet2 = "Hello World!!!"
```

-  double quoted string literal can contain single quotes without any fuss and likewise single quoted string can contain double quotes.

```
dial1 - "She Said, 'Yubaraj is a handsome guy'"
dial2 - 'He Said, "Yubaraj is a very nice guy"'
```

- Python strings are "immutable" which means they cannot be changed after they are created.

- Characters in a string can be accessed using the standard [ ] syntax, and like Java and C++, Python uses zero-based indexing, so if s is 'hello' s[1] is 'e'. 

- Python newbie gotcha: don't use "len" as a variable name to avoid blocking out the len() function.

- The '+' operator can concatenate two strings.

```
'Good' + 'Morning' + '!!!'
```

In [ ]:
# Strings can be accessed like as array
country = 'Nepal'
country[1]

'e'

In [ ]:
#Thus, we can do this,
for i in range(len(country)):
  print(country[i])

N
e
p
a
l

In [ ]:
# Strings can be overwritten but can't be updated.
college = 'Texas Intermational College'
college[11] = 'n'
college

TypeError: ignored

In [ ]:
#But this works
college = "Texas International College"
print(len(college))
print(college)

27
Texas International College

In [ ]:
#We can also access python string by passing range to get substring
print(college[6:19])

International

In [ ]:
#What about this?
print(college[:6] + college[20:] + " of Management and IT")

Texas College of Management and IT

String Operators in Python

In [ ]:
# + operator
"Good " + "Morning!!!"

In [ ]:
# * operator

"morning " * 2

In [ ]:
#slicer operator

college[:5]

In [ ]:
# in operator

'Inter' in college

True

In [ ]:
# Not in Operator
'z' not in college

In [ ]:
# Raw string
print(r'Hello\nClass')
print('Hello\nClass')

Hello\nClass
Hello
Class

In [ ]:
# % operator
print('I study in %s.'%college)

I study in Texas International College.

Python does not have a distinct character type. In Python, a character is a string of length

You can use the ord() and chr() builtÂ­in functions to convert from character to integer and back.

In [ ]:
#Converting Character to Integer
alphabet = "a"
ord(alphabet)

97

In [ ]:
A_alphabet = 65
chr(A_alphabet)

'A'

# Methods

lower() and upper() method transform the string to lower case and upper case.

In [ ]:
print(college.lower())
print(college.upper())

startswith('other'), endswith('other') -- tests if the string starts or ends with the given other string

In [ ]:
college.startswith('Texas')

In [ ]:
college.endswith('IT')

find('other') searches for the given other string (not a regular expression) within s, and returns the first index where it begins or -1 if not found

In [ ]:
college.find('International')

In [ ]:
college.find('t')

In [ ]:
college.find('y')

s.replace('old', 'new') returns a string where all occurrences of 'old' have been replaced by 'new'.

In [ ]:
college.replace('International', 'Intl.')

s.split('delim') -- returns a list of substrings separated by the given delimiter.

In [ ]:
#CSV split
value = '10,20,30'
value.split(',')

['10', '20', '30']

s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter.

In [ ]:
value.join(['aaa', 'bbb', 'ccc'])

'aaa10,20,30bbb10,20,30ccc'

isalpha(), isdigit(), isspace(), isdecimal(), isalnum() tests if all the string chars are in the various character classes

In [ ]:
a = 'alpha'
b = 2
c = ""
d = "1"
e = " "
f = 9.8

a.isalpha()
d.isdigit()
c.isspace()
e.isspace()
f.isdecimal()

AttributeError: ignored

capitalize() returns a copy of the string with its first character capitalized and the rest lowercased.

In [ ]:
color = 'yellow'
color.capitalize()

count(sub[, start[, end]]) returns the number of non-overlapping occurrences of substring sub in the range [start, end]. Optional arguments start and end are interpreted as in slice notation.

In [ ]:
color.count('o')

There are so many other methods for strings. Check python documentation.

https://docs.python.org/3/library/stdtypes.html#string-methods