In [ ]:
student_1 = {'name': "Mohan Khanal", 'age': 22, 'level': "Bachelor"}
type(student_1)

dict

This is the dictionary in python. Dictionary has key and value pair.Each key is connected to a value, and you can use a key to access a value associated with that key. You can have an unlimited number of key-value pairs in a dictionary.

Let's print the dictionary we created above.

In [ ]:
print(student_1)

{'name': 'Mohan Khanal', 'age': 22, 'level': 'Bachelor'}

We can print the individual value of dictionary with the use of key.

In [ ]:
#printing the name of student
print(student_1['name'])

Mohan Khanal

**Key Value Pairs in Dictionary**

Dictionaries are dynamic structures, and you can add new key-value pairs
to a dictionary at any time. For example, to add a new key-value pair, you
would give the name of the dictionary followed by the new key in square
brackets along with the new value.

In [ ]:
student_1['section'] = 'A'
student_1['position'] = 10
print(student_1)

{'name': 'Mohan Khanal', 'age': 22, 'level': 'Bachelor', 'section': 'A', 'position': 10}

Let's create a empty dictionary

In [ ]:
#We create an empty dictionary and view the type
student_2 = {}
type(student_2)

dict

In [ ]:
#Adding value to the dictionary
student_2['name'] = 'Sahil Shah'
student_2['age'] = 2
student_2['level'] = 'Bachelor'

In [ ]:
#Printing the student_2
print(student_2)

{'name': 'Sahil Shah', 'age': 2, 'level': 'Bachelor'}

We can also modify the content of the dictionary.

In [ ]:
#Assigning the new value to the student info
student_2['age'] = 23

print(student_2)

{'name': 'Sahil Shah', 'age': 23, 'level': 'Bachelor'}

#Looping Through Key Value Pairs

In [ ]:
#Creating new dictionary
fav_languages = {
     'Karishma': 'python'
    ,'Bijay': 'Java'
    ,'Manoj': 'R'
    ,'Upendra': 'C#'
}

for name, lang in fav_languages.items():
  print('Favourite programming language of', name.title() ,'is',lang.title())

Favourite programming language of Karishma is Python
Favourite programming language of Bijay is Java
Favourite programming language of Manoj is R
Favourite programming language of Upendra is C#

# Looping Through keys and Values in Dictionary

A dictionary always maintains a clear connection between each key and
its associated value, but you never get the items from a dictionary in any
predictable order.

In [ ]:
#Looping through keys
for name in fav_languages.keys():
  print(name)

Karishma
Bijay
Manoj
Upendra

In [ ]:
#Looping through values
for lang in fav_languages.values():
  print(lang)

python
Java
R
C#

#Nesting of dictionary

You can nest a set of dictionaries inside a list, a list of items inside a dictionary, or even a dictionary inside another dictionary.

**1. Dicitionary in the list**

We can create a list of dictionary in python.

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

# Creating the list of aliens
aliens = [alien_0, alien_1, alien_2]
print(aliens)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

In [ ]:
for alien in aliens:
  print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

**2. List in the dictionary:**

Rather than putting a dictionary inside a list, itâ€™s sometimes useful to put a list inside a dictionary.

In [ ]:
fav_languages = {
     'Karishma': ['python']
    ,'Bijay': ['Java']
    ,'Manoj': 'R'
    ,'Upendra': ['C#', 'ASP .NET']
    ,'Shreeva': ['PHP', 'HTML', 'CSS']
}

print(fav_languages)

{'Karishma': ['python'], 'Bijay': ['Java'], 'Manoj': 'R', 'Upendra': ['C#', 'ASP .NET'], 'Shreeva': ['PHP', 'HTML', 'CSS']}

In [ ]:
for name, languages in fav_languages.items():
  print("Favourite languages of",name,'are :')
  for lang in languages:
    print(lang.title())
  print("\n")

Favourite languages of Karishma are :
Python


Favourite languages of Bijay are :
Java


Favourite languages of Manoj are :
R


Favourite languages of Upendra are :
C#
Asp .Net


Favourite languages of Shreeva are :
Php
Html
Css

**3. Dictionary in Dictionary**

In [ ]:
# creating dictionary within dictionary
Students = {'student_1': {'name': 'Harish', 'age': 27, 'gender': 'Male'},
          'student_2': {'name': 'Binod', 'age': 22, 'gender': 'male'},
          'student_3': {'name': 'Karina', 'age': 24, 'gender': 'Female'},
          'student_4': {'name': 'Lina', 'age': 29, 'gender': 'Male'}}

type(Students)

dict

In [ ]:
#Retreiving information from dictionary
for student,details in Students.items():
  #print(details)
  for key, value in details.items():
      print(key,':', value)
  print('\n')

name : Harish
age : 27
gender : Male


name : Binod
age : 22
gender : male


name : Karina
age : 24
gender : Female


name : Lina
age : 29
gender : Male

In [ ]:
# Let's go more deeper
for student, student_info in Students.items():
  print(student_info['name'])
  print(student_info['age'])
  print(student_info['gender'])
  print('\n')

Harish
27
Male


Binod
22
male


Karina
24
Female


Lina
29
Male

We can also use nested loop to extract information.

In [ ]:
for student, student_info in Students.items():
  dict(student_info)
  for name, value in student_info.items():
    print(name,':', value)
  print('\n')

name : Harish
age : 27
gender : Male


name : Binod
age : 22
gender : male


name : Karina
age : 24
gender : Female


name : Lina
age : 29
gender : Male

**Removing items from Dictionary**

The pop() method removes the item with the specified key name.

In [ ]:
Students.pop('student_4')
#Retreiving information from menu dictionary
for student in Students.items():
  print(student)

('student_1', {'name': 'Harish', 'age': 27, 'gender': 'Male'})
('student_2', {'name': 'Binod', 'age': 22, 'gender': 'Female'})
('student_3', {'name': 'Karina', 'age': 24, 'gender': 'Female'})